.elementor-979 .elementor-element.elementor-element-2181a06.elementor-position-right .elementor-image-box-img {margin-left: 16px;}
.elementor-979 .elementor-element.elementor-element-2181a06.elementor-position-left .elementor-image-box-img {margin-right: 16px;}
.elementor-979 .elementor-element.elementor-element-2181a06.elementor-position-top .elementor-image-box-img {margin-bottom: 16px;}
.elementor-979 .elementor-element.elementor-element-2181a06 .elementor-image-box-wrapper .elementor-image-box-img {width: 18%;}
.elementor-979 .elementor-element.elementor-element-2181a06 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-979 .elementor-element.elementor-element-2181a06 .elementor-image-box-title {margin-bottom: 0px;}
.elementor-979 .elementor-element.elementor-element-b629b27 {color: #fff;}
.elementor-979 .elementor-element.elementor-element-b629b27 > .elementor-widget-container {background-color: #98e1ea;}
.elementor-979 .elementor-element.elementor-element-80c92c2 {color: #000;}
.elementor-979 .elementor-element.elementor-element-b7d259d {color: #000;}
@media (max-width:767px) {.elementor-979 .elementor-element.elementor-element-2181a06 .elementor-image-box-img {margin-bottom: 16px;}}