.elementor-1059 .elementor-element.elementor-element-d1d82a2.elementor-widget-heading .elementor-heading-title {color: #009ee2;}
.elementor-1059 .elementor-element.elementor-element-d1d82a2 .elementor-heading-title {font-weight: 900;}